// BusinessDashboard.scss
@import '../variables';

h1 {
  color: $primary-color;
}
.business-dashboard {
  display: flex;
  min-height: 100vh;

  .side-panel {
    width: 250px;
    background-color: $light-gray;
    padding: 20px;
    box-shadow: 0 4px 6px $shadow-color;

    .dashboard-navigation {
      display: flex;
      flex-direction: column;

      .dashboard-link {
        padding: 12px 20px;
        text-decoration: none;
        color: $text-color;
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 10px;
        background: none;
        border: none;
        cursor: pointer;
        text-align: left;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }

  .dashboard-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;

    .listings-section {
      margin-bottom: 30px;

      .section-title {
        color: $primary-color;
        font-size: 2rem;
      }
    }
  }
}