// ListingHistory.scss
@import '../../variables';

.listings-container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin: 20px;
  padding: 20px;
  background-color: $secondary-color;
  border-radius: 8px;
  box-shadow: 0 4px 6px $shadow-color;
}

.listing {
  padding: 20px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  background-color: $secondary-color;
  box-shadow: 0 2px 4px $shadow-color;
  max-width: 500px;
  max-height: 400px;
  min-height: fit-content;
}

.listing-title {
  color: $primary-color;
  margin: 0 0 15px 0;
  font-size: 1.8rem;
}

.listing-description,
.listing-location,
.listing-time,
.listing-originalPrice,
.listing-discount,
.customer-info {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: $text-color;
}

.listing-price {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}