@import '../../variables';
.app-footer {
  background-color: $container-color;
  color: $primary-color;
  padding: 40px 20px;
  box-shadow: 0 -2px 4px $shadow-color;
  position: relative;
  bottom: 0;
  width: auto;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    .logo-container {
      display: flex;
      align-items: center;

      .logo {
        max-width: 40%;
        height: auto;
      }
    }

    .links-container {
      .footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;

        li {
          margin-bottom: 10px;

          a {
            color: $primary-color;
            text-decoration: none;
            font-weight: 600;
            transition: 0.5s;
            &:hover {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }

    .disclaimer-container {
      .disclaimer {
        font-size: 0.8rem;
        line-height: 1.4;
        text-align: left;

      }
    }

    .copyright-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 768px) {
  .app-footer {
    .footer-content {
      grid-template-columns: 1fr;
      text-align: center;

      .logo-container {
        justify-content: center;
        margin-bottom: 20px;
      }

      .copyright-container {
        justify-content: center;
      }
    }
  }
}