// Header.scss
@import '../../variables';

.app-header {
  background-color: $container-color;
  color: $primary-color;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px $shadow-color;
}

.header-left {
  display: flex;
  align-items: center;
}

.button {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}

.header-link {
  display: flex;
  align-items: center;

  img {
    max-height: 100px;
    width: auto;
  }
}

.header-title {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  flex-grow: 1;
}

.header-nav .nav-link {
  text-decoration: none;
  color: $primary-color;
  transition: color 0.3s ease;

  &:hover {
    color: $hover-color;
  }
}

@media screen and (max-width: 768px) {
  .header-title {
    display: none;
  }
}