// _variables.scss
$primary-color: #052f4b;
$hover-color: #276f9e;
$secondary-color: #ffffff;
$page-bg: #ffffff;
$container-bg: #0b336105;
$text-color: #333;
$light-gray: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);
$container-color: rgb(71, 141, 221);
$alert-color: #c51818;
$spinner-border-color: rgba(0, 0, 0, 0.1);
