// _variables.scss
$primary-color: #052f4b;
$hover-color: #276f9e;
$secondary-color: #ffffff;
$text-color: #333;
$light-gray: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);
$container-color: #154a7a5b;
$alert-color: #c51818
